@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{background-color: lightgrey;}

header{
    background-color: grey;
}
header > h1{
    padding: 10px;
    text-align: center;
}

span#burger{
    background-color: brown;
    color: white;
    display: block;    
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover{
    background-color: white;
    color: brown;
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(85, 85, 85);
    color: white;
    border-top: 2px solid rgb(128, 128, 128);
}

menu > ul > li > a:hover{
    background-color: lightgray;
    color: rgb(85, 85, 85);
}

main{
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2{
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 30px;
}