@charset "UTF-8";

/* Todas as demais midias */
/* Typical Device Breakpoint 
    Pequenas telas  : até 600px
    Celular         : de 600px até 768px
    Tablet          : de 768px até 992px
    Desktop         : de 992px até 1200px
    Grandes telas   : acima de 1200px
*/

@media print{ /*Impressâo*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px){ /*Tablet*/ 
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){ /*Desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }   
    main{
        width: 600px;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1200px){ /*Grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 800px;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}