@charset "UTF-8";

/*Estilos para telas*/

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: rgb(238, 244, 248);
}

header > h1{
    text-align: center;
}

menu ul{
    list-style-type: none;
    background-color: rgb(189, 209, 226);
}
menu li{
    background-color: rgb(125, 142, 156);
    color: aliceblue;
    display: inline-block;
    padding: 10px;
}
article{
    display: block;
    margin: auto;
    width: 600px;

}